* {
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


table {
    display: grid;
    padding: 0;
    list-style: none;
}

.titles{
    display: grid;
    gap: 5px;
    padding: 3px 10px 3px 10px;
    border-block-end: 1px solid gray;
    cursor: pointer;
}

.book-list {
    display: grid;
    gap: 5px;
    padding: 3px 10px 3px 10px;
    border-block-end: 1px solid gray;
    cursor: pointer;
}

.book-list:nth-child(odd) {
    background-color: lightgray;
}

